
      <mat-card>
        <form (submit) = "onAddPost(postForm)" #postForm="ngForm">
          <h2>Crear un Ensayo</h2>
        <mat-form-field>
          <input matInput
          type="text"
          name="title"
          ngModel
          minlength="3"
          placeholder="Título: " 
          required
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Por favor, ingrese el título del ensayo</mat-error>
        </mat-form-field>
         <mat-form-field>
           <textarea matInput
           name="content"
           ngModel
           #content="ngModel"
           placeholder="Descripción: ">
           <mat-error *ngIf="content.invalid">Por favor, escriba una descripción</mat-error>
          </textarea>
         </mat-form-field>
         <mat-form-field>
            <textarea matInput
            rows="4"
            name="songs"
            ngModel
            placeholder="Canciones: "
            #songs="ngModel">
            <mat-error *ngIf="songs.invalid">Por favor, ingrese la lista de canciones</mat-error>
           </textarea>
          </mat-form-field>
         <mat-form-field>
            <input matInput [matDatepicker]="picker" name="date"  ngModel required #date="ngModel"  placeholder="Fecha:">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br>
        <br>
        <br>
        <br>
         <!-- vainding: como enviar informacion  #varable de refercia al tag-->
          <button mat-raised-button type="submit">Crear Ensayo</button>
         <!-- interpolacion : esto permite enviar informacion del solr al view   -->
        </form>
      </mat-card>







