
mat-form-field,
textarea {
  width: 100%;

}

mat-spinner {
  margin: auto;
}

mat-raised-button,
button{
  color: #E7E247;
  background-color: #696773;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
