<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
     {{post.title}}

    </mat-expansion-panel-header>
    <p>El Ensayo se realizará el: {{post.date}}</p>
    <p>Descripción del Ensayo: {{post.content}}</p>
    <p>Canciones: {{post.songs}}</p>
    <mat-action-row>
      <button mat-button color="accent" >Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class=" info-text mat-body-1" *ngIf="posts.length <= 0">Cosita NO tiene publicacion </p>
