:host{
  display: block;
margin-top: 1rem;
}
mat-accordion{
  background-color: #FEF9C7;
}
mat-accordion,
mat-expansion-panel-header{
  color: #424949;
  background-color:#E7E247;
}
mat-accordion,
mat-expansion-panel{
  color: #114B5F;
  background-color: #E7E247;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text{
  text-align: center;
  color:#E7E247;
}

.post-image {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
